.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $xxl) {
        width: 1140px;
    }
    @media (max-width: $xl) {
        width: 960px;
    }
    @media (max-width: $lg) {
        width: 720px;
    }
    @media (max-width: $md) {
        width: 540px;
    }
    @media (max-width: $sm) {
        width: 100%;
    }
}