.tabs {
    display: flex;
    &-title {
        padding: 5px 10px;
        background: #ccc;
        border: none;
        cursor: pointer;
        &.active {
            background: $white;
        }
    }
    &-content {
        display: none;
        padding: 10px;
        &.active {
            display: block;
        }
    }
}